.title-menu{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.row img{
    margin-bottom: 5rem;
}

.galeria{
    padding-top: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.food-img{
    width: 23rem;
}