.title-menu{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

a{ 
    text-decoration: none !important; 
    color: #05525e !important; 
}

.menu-block{ 
    margin-bottom: 30px; 
}

.menu-title{ 
    border-bottom: 3px solid #e0e6e3; 
    margin-bottom: 36px; 
    padding-bottom: 10px;
}

.menu-content{ 
    border-bottom: 1px solid #e0e6e3; 
    margin-bottom: 30px; 
}

.dish-content{
    height: 6rem;
    margin-top: 12px; 
    margin-bottom: 40px;
    margin-left: 1rem; 
}

.dish-meta{ 
    display: block; 
    width: 100%; 
    line-height: 1.2;
    margin-bottom: 0.5rem; 
}

.dish-title{ 
    margin-bottom: 6px; 
    font-size: 15px; 
    text-transform: uppercase; 
    position: relative;
}

.dish-price{
    margin-top: 1rem !important;
    margin-bottom: -1rem !important; 
    color: #138596; 
}

.color13{
    color: #138596; 
}

.well-block .dish-meta{ 
    width: 100%; 
}

.img-icon{
    width: 6rem !important;
}

.menu{
    justify-content: center;
    padding-top: 4rem;
    padding-right: 13.5rem;
    padding-left: 13.5rem;
    padding-bottom: -1rem !important;
}

.menu a:hover{
    color: #138596 !important;
    text-decoration: underline !important;
}

.dish-price2{
    margin-top: -1rem !important;
}

.pizzas p{
    margin-bottom: 0.1rem;
}

.nobottom{
    margin-bottom: -1rem !important;
}