.title-menu{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about{
    padding: 4rem 5.5rem;
    justify-content: center;
}

.chefs{
    margin-right: 4.5rem;
    margin-left: 0rem;
}

.about img{
    width: 20rem;
}

.text{
    margin-top: 4rem !important;
    margin-left: 20rem;
}

.text2{
    margin-top: 4rem !important;
    margin-right: 15rem;
}

.chefs2{
    margin-left: 4.5rem;
    margin-right: 0rem;
}

.about p{
    margin-top: 2rem;
}