h1, p{
    font-family: 'Roboto', sans-serif;
}

h2, h3{
    font-family: 'Rubik', sans-serif;
}

a, h4, h5{
    font-family: 'Montserrat', sans-serif;
}


.nv{
    padding-left: 8em !important;
    padding-right: 8rem !important;
}

.nav-link {
    font-size: 1.5rem;
    color: black !important;
    margin-left: 2rem;
}

.nav-link:hover{
    color: #138596 !important;
    text-decoration-line: underline !important;
}

.marker{
    font-size: 1.5rem;
    color: #138596 !important;
    text-decoration: underline !important;
}

.marker:hover{
    color: #05525e !important;
}

.lowernavtext{
    margin-top: 1rem;
}

.order{
    background-color: #05525e !important;
    width: 9.5rem;
    color: white !important;
    border-radius: 2rem;
    margin-right: 0rem;
}

.order2{
    margin-left: 0rem;
    background-color: #05525e;
    width: 10.5rem;
    color: white !important;
    border-radius: 2rem;
}


.order:hover{
    background-color: #138596 !important;
    color: white !important;
    text-decoration-line: underline !important;
}

.order2:hover{
    background-color: #138596 !important;
    color: white !important;
    text-decoration-line: underline !important;
}

.ws-icon{
    margin-left: 0.5rem;
    width: 1rem;
    margin-bottom: 0.40rem;
    padding-bottom: -1rem !important;
    padding-top: -1rem !important;
}

.nav-center{
    margin-right: 10rem !important;
    margin-left: 10rem !important;
}

.logo{
    margin-left: 0rem !important;
    width: 10rem;
}

.logo2{
    padding: -100rem !important;
    margin: 0rem !important;
}

.top-banner{
    width: 100%;
    height: 50rem;
    background: url(1) no-repeat center;
    background-size: cover;
    margin-top: -8rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.center{
    text-align: center;
}

.cont{
    align-content: center !important;
    text-align: center !important;
    padding-left: 10rem;
    padding-right: 10rem;
}

.upmr{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.bp{
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: -8rem;
    margin-right: -8rem;
}

.imgitems{
    padding-bottom: 4rem !important;
    margin-top: 6rem;
    width: 12rem;
}

.upmr .btn{
    border-radius: 0.7rem !important;
}

.lower{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.fas{
    background-color: #138596;
    border-radius: 8rem;
}

.icon{
    width: 6rem;
    
}

.iconmoved{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.iconmoved2{
    margin-right: 0.7rem;
    margin-bottom: 0.2rem;
}

.value{
    padding-left: 8rem;
    padding-right: 8rem;
}

.v{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    margin-bottom: 4rem;
}

.testimonials-clean {
    color:#313437;
    margin-left: -8rem;
    margin-right: -8rem;
    padding-bottom: 4rem;
  }
  
  .testimonials-clean p {
    color:#6c757d!important;;
  }

.intro{
    padding-top: 4rem;
}
  
.people{
    padding-top: 2rem;
}
  
.box {
    padding:30px;
    background-color:#fff;
    position:relative;
}
  
.box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
}
  
.author {
    margin-top:28px;
    padding-left:25px;
}
  
.name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
    margin-right: 10rem;
}
  
.title {
    font-size:13px;
    color:#9da9ae;
    margin-right: 10rem;
}
  
.description {
    font-size: 1rem;
    margin-bottom: 0rem;
}
  
.item img {
    max-width: 4rem;
    float:left;
    margin-top: -0.5rem;
}

.item{
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}



.footer {
    padding: 4rem 0rem;
    background-color:#ffffff;
    color:#4b4c4d;
}
  
.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size: 1.4rem;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer li {
    padding:0 1rem;
}
  
.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer ul a:hover {
    opacity:1;
    color: #138596;
}

.social {
    text-align:center;
    padding-bottom: 2rem;
}
  
.social > a {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height:3rem;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 1rem;
    color:  #05525e;
    opacity:0.75;
}
  
.social > a:hover {
    opacity:0.9;
    color: #138596;
}
  
.copyright {
    margin-top: 2rem;
    text-align:center;
    font-size: 1rem;
    color:#aaa;
    margin-bottom:0;
}